/*Hannah Moss's personal website*/

/*Fonts
font-family: 'Poiret One', cursive;
font-family: 'Open Sans', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poiret+One&display=swap');

/*General/base styling*/
* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding-bottom: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.7em;
}

h1 {
    font-family: 'Poiret One', cursive;
    margin: 0 auto;
    text-align: center;
}

/*make media query for header and navigation bar*/

h2 {
    font-family: 'Poiret One', cursive;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

ul {

}

li {

}

div {
    padding-top: 20px;
}

a {
    color: grey;
    text-decoration: none;
    transition: color 1s;
}

a:hover {
    color: black;
}

/*Navigation bar*/
#title {
    font-family: 'Poiret One', cursive;
    font-size: 80px;
    margin: 0 auto;
}

nav {
    padding-top: 20px;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.space {
    height: 0px;
}

.navbar {
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    color: grey;
    display: block;
    background-color: #eeeeee;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background-color 1.5s;
}

nav a:hover {
    text-decoration: none;
    color: white;
    background-color: black
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.nav-link {
    
}

.nav-link a {
    text-decoration: none;
}

#home {

}

#bio {
    width: 60%;
    margin: 0 auto;
    text-align: justify;
}

#media {
    width: 60%;
    margin: 0 auto;
}

#contact {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

/*Main Content*/

#main {
    

}

#coverpicture {
    background-image: url("hannahtreesbw.jpg");
    background-position: 50% 42%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}

blockquote p {
    font-family: 'Poiret One', cursive;
    font-size: 30px;
    color: black;
    padding-top: 20px;
}

#quote {
    width: 40vw;
    height: auto;
    font-size: 40px;
    margin: 0 auto;

}

#secondpicture {
    background-image: url("headshotbw.jpg");
    background-position: 50% 42%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
}

#video {
    margin: 0 auto;
    text-align: center;
}

.gallery-image {

}

#social-media {
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.icon {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

#backtotop {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 12px;
}

.copyright {
    text-align: right;
    padding: 50px;
    font-size: 12px;
    color: #eeeeee;
}

.copyright p {
    color: #eeeeee;
}

.copyright a {
    color: #eeeeee;
    text-decoration: none;
    transition: color 1s;
}

.copyright a:hover {
    color: black;
}